{% extends 'base.html' %}
{% load cache %}
{% block title %}
  Lesta Games
{% endblock %}
{% block heading %}
  Ранее загруженные файлы
{% endblock %}
{% block content %}
  {% if files %}
    <table style="margin-bottom: 100px">
      <tbody>
        <tr>
          <td width="500">
            <h5>Файл</h5>
          </td>
          <td width="250">
            <h5>Дата добаления</h5>
          </td>
          <td width="200">
            <h5>Количесво слов</h5>
          </td>
          <td width="100">
            <h5>Обработано</h5>
          </td>
        </tr>
        {% for file in files %}
            <tr>
              <td>
          <a href="{% url 'text_app:file_words' file.id %}">
              {{ file.name }}
          </a>
          </td>
              <td>{{ file.upload_at }}</td>
              <td>{{ file.words.all.0.quantity }}</td>
              <td>{{ file.processed }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination-container">
      {% include 'paginator.html' %}
    </div>
  {% else %}
    <h3 class="table-style">
      Загрузите первый файл!
    </h3>
  {% endif %}
{% endblock %}
